.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.layer-base {
  transform: translateZ(0);
}

/* 1 + (translateZ * -1) / perspective) */
.layer-back {
  transform: translateZ(-300px) scale(2);
}

.layer-fore {
  transform: translateZ(90px) scale(.7);
}



/* --------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

body, html {
  overflow: hidden;
}

body {
  font: 100% / 1.5 Arial;
}

.parallax {
  font-size: 200%;
}

.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.group1 {
  z-index: 3; /* slide over group 2 */
}
.group1 .layer-base {
  background: #000 url(img/back_1.png) center 50px no-repeat;
}
.group1 .layer-fore {
  background: url(img/velo_1.png) center 95% no-repeat;
}

.group2 {
  z-index: 1; /* slide under groups 1 and 3 */
}
.group2 .layer-back {
  background: #a0e3ff url(img/back_2.png) center 50px no-repeat;
  background-size: contain;
}
.group2 .layer-fore {
  background: url(img/velo_2.png) center 90% no-repeat;
}

.group3 {
  z-index: 2; /* slide over group 2*/
}
.group3 .layer-base {
  background: #f8d5b8 url(img/back_3.png) center 50px no-repeat;
  background-size: contain;
}
.group3 .layer-fore {
  background: url(img/velo_3.png) center 85% no-repeat;
ва}


.debug {
  position: fixed;
  top: 0;
  left: .5em;
  z-index: 999;
  background: rgba(255,255,255,.85);
  padding: .5em;
  border-radius: 0 0 5px 5px;
}
.debug-on .group {
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}
.debug-on .layer {
  box-shadow: 0 0 0 2px #000;
  opacity: 0.9;
}
.group {
  transition: transform 0.5s;
}

/* Colors:
back_1 = #000
back_2 = #a0e3ff
back_3 = #f8d5b8

back_4 = #f7ca7d
back_5 = #dbdbdb
*/
